



#footing {
	width: 100%;
	text-align: center;
	height: 80px;
	background-color: #666;
	border-top-style: solid;
	border-width: 6px;
	border-color: #4aaaa5;
}

#footing p {
	padding: 30px;
	color: white;
}