header {
	border-bottom-style: solid;
	border-width: 6px;
	border-color: #ccc;
}

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

ul, p {
	font-family: 'Ariel', Helvetica Neue, Helvetica, sans-serif;
}

#name {
	padding: 9px;
	background-color: #4aaaa5;
	width: 20%;
	float: left;
	color: #fff;
}

header ul {
	list-style-type: none;
	width: 20px;
}

header a {
	text-decoration: none;
	color: #777;
}

.container {
	width: 960px;
	margin: 0 auto;
}

#maincontent {
	float: left;
	width: 650px;
}

#maincontent h1 {
	color: #4aaaa5;
}

#maincontent p {
	font-size: 16pt;
	color: #777;
}

#maincontent img {
	height: 200px;
	width: 200px;
	float: left;
}

#connectbox img {
	height:48px;
	width:48px;
}

#footing {
	width: 100%;
	text-align: center;
	height: 80px;
	background-color: #666;
	border-top-style: solid;
	border-width: 6px;
	border-color: #4aaaa5;
}

#footing p {
	padding: 30px;
	color: white;
}