

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

ul, p {
	font-family: 'Ariel', Helvetica Neue, Helvetica, sans-serif;
}

#name {
	display: block;
	background-color: #4aaaa5;
	padding: 13.75px;
	width: 160px;
	color: #fff;
	margin-left: 440px;
	position: initial;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0 auto;
	overflow: hidden;
	background-color: #fff;
}

li {
	float: right;
}

li a {
	display: block;
	color:#777;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#maincontent {
	float: left;
	width: 650px;
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	margin-right: 40px;
	margin-top: 40px;
}

#maincontent h1, h2 {
	color: #4aaaa5;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #ccc;
	margin: 20px;
}

#maincontent p {
	font-size: 16pt;
	color: #777;
	margin: 30px;
}

#maincontent img {
	height: 200px;
	width: 200px;
	float: left;
	margin: 30px;
}

#connectbox {
	width: 270px;
	height: 200px;
	background-color: #fff;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	margin-top: 40px;
}

#connectbox img {
	height:58px;
	width:58px;
	padding: 10px;
	margin-left: 5px;
	margin-top: 10px;
}

#footing {
	width: 100%;
	text-align: center;
	height: 80px;
	background-color: #666;
	border-top-style: solid;
	border-width: 6px;
	border-color: #4aaaa5;
	position: absolute;
	bottom: 0;
}

#footing p {
	padding: 25px;
	color: #fff;
	font-size: 10pt;
}